<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Kullanıcı Sayfası </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="../../assets/public/css/bootstrap.min.css">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" href="../../assets/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/public/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="../../assets/public/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="../../assets/public/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="../../assets/public/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="../../assets/public/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="../../assets/public/css/custom.css">


    <!-- Modernizr JS -->
    <script src="../../assets/public/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                                <div class="logo">
                                    <a href="/login"><img
                                            src="https://eyupmodesa.com.tr/img/firmalar/b/h_1490271476_Mobilya-Tasarim-Evi.jpg"
                                            alt="logo images"></a>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a href="/dashboard">Anasyafa</a></li>

                                        <li><a href="/contact">İletişim</a></li>
                                    </ul>
                                </nav>

                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a href="/dashboard">Anasyafa</a></li>

                                            <li><a href="/contact">İletişim</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a href="#"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account dropdown">
                                        <a href="#" id="account-icon" class="dropdown-toggle" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-user icons"></i>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="account-icon">

                                            <a class="dropdown-item" href="#"> Merhaba </a>
                                            <a class="dropdown-item" href="/siparisler">siparişlerim</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout">Çıkış Yap</a>
                                            <a class="dropdown-item" href="/login">Giriş yap</a>



                                        </div>
                                    </div>


                                    <div class="htc__shopping__cart">
                                        <a class="cart__menu" href="#"><i class="icon-handbag icons"></i></a>
                                        <a href="/cart"><span class="htc__qua" id="cartItemCount">0</span></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <div class="shopping__cart">
                <div class="shopping__cart__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="shp__cart__wrap" id="shoppingCartItems">
                        <!-- Buraya sepet öğeleri eklenecek -->
                    </div>
                    <ul class="shoping__total">
                        <li class="subtotal">Toplam:</li>
                        <li class="total__price">₺0.00</li>
                    </ul>
                    <ul class="shopping__btn">
                        <li><a href="/cart">Sepeti görüntüle</a></li>
                        <li class="shp__checkout"><a href="#">Ödeme</a></li>
                    </ul>
                </div>
            </div>

            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->

        <!-- End Bradcaump area -->
        <!-- Start Product Details Area -->
        <!-- product_details.ejs -->

        <section class="htc__product__details bg__white ptb--100">
            <!-- Start Product Details Top -->
            <div class="htc__product__details__top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                            <div class="htc__product__details__tab__content">
                                <!-- Start Product Big Images -->
                                <div class="product__big__images">
                                    <div class="portfolio-full-image tab-content">
                                        <% images.forEach((image, index) => { %>
                                            <div role="tabpanel" class="tab-pane fade <%= index === 0 ? 'in active' : '' %>" id="img-tab-<%= index + 1 %>">
                                                <img src="/assets/product_img/<%= image.image_url %>" alt="full-image">
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <!-- End Product Big Images -->
                                <!-- Start Small images -->
                                
                                <!-- End Small images -->
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 smt-40 xmt-40">
                            <div class="ht__product__dtl">
                                <h2><%= product.product_name %></h2>
                                <h6>Model: <span><%= product.model %></span></h6>
                                <ul class="rating">
                                    <!-- Rating Stars -->
                                </ul>
                                <ul class="pro__prize">
                                    <li class="old__prize"><%= product.oldPrice %></li>
                                    <li><%= product.newPrice %></li>
                                </ul>
                                <p class="pro__info"><%= product.description %></p>
                                <!-- Additional Product Details -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product Details Top -->
        </section>
        
        <section class="htc__produc__decription bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Start List And Grid View -->
                        <ul class="pro__details__tab" role="tablist">
                            <li role="presentation" class="description active"><a href="#description" role="tab" data-toggle="tab">description</a></li>
                            <!-- Additional Tabs if Needed -->
                        </ul>
                        <!-- End List And Grid View -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ht__pro__details__content">
                            <!-- Start Single Content -->
                            <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                                <div class="pro__tab__content__inner">
                                    <!-- Description Content Here -->
                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Additional Tabs if Needed -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <!-- End Product Description -->
        <!-- Start Product Area -->
        
        <!-- End Product Area -->
       
        <!-- Start Footer Area -->

        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <footer id="htc__footer">
        <!-- Start Footer Widget -->
        <div class="footer__container bg__cat--1">
            <div class="container">
                <div class="row">
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer">
                            <h2 class="title__line--2">Hakkımızda</h2>
                            <div class="ft__details">
                                <p>Evinize şıklık ve konfor katacak mobilya koleksiyonumuzla sizlere hizmet vermekten
                                    gurur duyuyoruz. Kaliteli ve estetik tasarımlarımızla yaşam alanlarınızı
                                    güzelleştiriyoruz. Hayalinizdeki evi yaratmanız için buradayız.</p>
                                <div class="ft__social__link">
                                    <ul class="social__link">
                                        <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
                                        <li><a href="#"><i class="icon-social-instagram icons"></i></a></li>
                                        <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
                                        <li><a href="#"><i class="icon-social-google icons"></i></a></li>
                                        <li><a href="#"><i class="icon-social-linkedin icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-2 col-sm-6 col-xs-12 xmt-40">
                        <div class="footer">
                            <h2 class="title__line--2">Bilgi</h2>
                            <div class="ft__inner">
                                <ul class="ft__list">
                                    <li><a href="#">Hakkımızda</a></li>
                                    <li><a href="#">Teslimat Bilgisi</a></li>
                                    <li><a href="#">Gizlilik ve Güvenlik</a></li>
                                    <li><a href="#">Şartlar ve Koşullar</a></li>
                                    <li><a href="#">Üreticiler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                        <div class="footer">
                            <h2 class="title__line--2">Hesabım</h2>
                            <div class="ft__inner">
                                <ul class="ft__list">
                                    <li><a href="cart.html">Sepetim</a></li>
                                    <li><a href="/login">Giriş Yap</a></li>
                                    <li><a href="/payment">Ödeme</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-2 col-sm-6 col-xs-12 xmt-40 smt-40">
                        <div class="footer">
                            <h2 class="title__line--2">Hizmetlerimiz</h2>
                            <div class="ft__inner">
                                <ul class="ft__list">
                                    <li><a href="/payment">Sepetim</a></li>
                                    <li><a href="/login">Giriş Yap</a></li>
                                    <li><a href="/payment">Ödeme</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-3 col-sm-6 col-xs-12 xmt-40 smt-40">
                        <div class="footer">
                            <h2 class="title__line--2">Bülten</h2>
                            <div class="ft__inner">
                                <div class="news__input">
                                    <input type="text" placeholder="E-posta Adresiniz*">
                                    <div class="send__btn">
                                        <a class="fr__btn" href="#">E-posta Gönder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                </div>
            </div>
        </div>
        <!-- End Footer Widget -->
        <!-- Start Copyright Area -->
        <div class="htc__copyright bg__cat--5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright__inner">
                            <p>Copyright© <a href=""></a> 2024. Tüm hakları saklıdır.</p>
                            <a href="#"><img src="" alt="ödeme yöntemleri"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->
    </footer>
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="../../assets/public/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="../../assets/public/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="../../assets/public/js/plugins.js"></script>
    <script src="../../assets/public/js/slick.min.js"></script>
    <script src="../../assets/public/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="../../assets/public/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="../../assets/public/js/main.js"></script>

</body>

</html>